img {
  width: 100%;
}
// Swipe-over sections like Apple
#swipeOverSections {
  img {
    height: 100vh;
    display: block;
    object-fit: cover;
    position: relative;  
  }
  .title-1 {
    height: 200vh;
    pointer-events: none;
    &__inner {
      height: 100vh;
      position: sticky;
      top: 0;
    }
  }
  .title-2 {
    margin-top: -100vh;
  }
}