body {
  margin: 0;
}
img {
  width: 100%;
}
// Swipe-over sections like Apple
#swipeOverSections {
  img {
    height: 100vh;
    display: block;
    object-fit: cover;
    position: relative;
  }
  .title-1 {
    height: 200vh;
    pointer-events: none;
    &__inner {
      height: 100vh;
      position: sticky;
      top: 0;
    }
  }
  .title-2 {
    margin-top: -100vh;
  }
}

////
// smooth full page swipe effect
//
// Y ver.
#fullPageSwipeEffectY {
  .scroll-container {
    height: 100vh;
    height: 100dvh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    .section {
      height: 100vh;
      height: 100dvh;
      width: 100%;
      object-fit: cover;
      object-position: center;
      scroll-snap-align: start;
      scroll-snap-stop: always;
    }
  }
}
// X ver.
#fullPageSwipeEffectX {
  .scroll-container {
    height: 100vh;
    height: 100dvh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    .section {
      height: 100vh;
      height: 100dvh;
      width: 100%;
      object-fit: cover;
      object-position: center;
      scroll-snap-align: start;
      scroll-snap-stop: always;
    }
  }
}

// Hamburger Menu like Apple
#HamburgerMenuwithCheckbox {
  background-color: #666;
  input {
    display: none;
  }
  button {
    all: unset;
    cursor: pointer;
    display: block;
    * {
      pointer-events: none;
    }
  }
  .nav {
    &-burger {
      width: 31px;
      height: 31px;
      display: block;
      position: relative;
    }
    &-burger-container {
      position: absolute;
      left: 7px;
      top: 15px;
      transition: transform 0.2s ease-in-out 0.1s;
      &__top {
        transform: translateY(-3px) scaleX(0.88235);
      }
      &__bottom {
        transform: translateY(3px) scaleX(0.88235);
      }
    }
    .line {
      width: 17px;
      height: 1px;
      border-radius: 3px;
      background: #fff;
      transition: transform 0.2s ease-in-out;
    }
  }
  input:checked + label .nav-burger-container {
    transition-delay: 0s;
  }
  input:checked + label .nav-burger-container__bottom {
    transform: none;
  }
  input:checked + label .nav-burger-container__top {
    transform: none;
  }
  input:checked + label .nav-burger-container__bottom .line {
    transform: none;
    transition-delay: 0.1s;
    transform: rotateZ(45deg);
  }
  input:checked + label .nav-burger-container__top .line {
    transform: none;
    transition-delay: 0.1s;
    transform: rotateZ(-45deg);
  }
  // input:checked + label .line.bottom {
  //   transform: none;
  //   transition-delay: 0.1s;
  // }
  // input:checked + label .line.top {
  //   transform: none;
  //   transition-delay: 0.1s;
  // }
}
